/* phi@gress.ly April 2012 */


body {
  background-color: silver;
}

p {
  font-family: verdana, arial, helvetica, sans;
  color: #009;
}

@media print {
  p {
    font-family: times, times-new-roman, palatino, serif;
  }
} /* end print */


h1 {
  font-size  :120%;
  font-family: sans, Arial, helvetica;
  text-decoration: underline;
}
